<div class="container">
  <h1>Cocktails</h1>
<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail %></li>
  <% end %>
</ul>

<br>

<%= link_to 'New Cocktail', new_cocktail_path, class: "btn btn-success" %>
</div>
